.app-container {
  padding: 40px;
}

.registration-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  min-height: 30vh;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40%;
}
.phone-country-input {
  width: 20px;
  margin-right: 10px;
}
.jobType-field {
  display: flex;
  align-items: center;
  min-width: 40%;
}
.btn {
  align-self: flex-start;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.add-btn {
  justify-content: flex-end;
  align-self: flex-end;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 2px 3px #888888;
}
.users-list-container {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 0px;
}
.user-table-header {
  display: flex;
  background-color: #4aa0f5;
  list-style-type: none;
  border: 1px solid #cbd5e1;
}
.job-type-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-header-cell {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 32px;
  width: 15%;
}
.separator {
  margin: 0;
  border: 1px solid #cbd5e1;
}
.jobType-field {
  display: flex;
  align-items: center;
}
.addUser-field {
  display: flex;
  flex-direction: column;
}
.error-msg {
  color: red;
  font-size: 14px;
}
